@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: v.$spacing-md;
  border-bottom: 1px solid v.$select-bg;
  margin-bottom: v.$spacing-lg;

  h1 {
    font-size: v.$font-lg;
    margin: 0;
    color: v.$text;
  }

  @include m.respond(sm) {
    flex-direction: column;
    align-items: flex-start;
    gap: v.$spacing-sm;

    h1 {
      font-size: v.$font-md;
    }
  }
}

.dark .top-bar {
  border-bottom: 1px solid #444;

  h1 {
    color: v.$dark-text;
  }
}
