@use './variables' as v;

:root {
  --primary-color: #0077b6;
  --secondary-color: #01a8ef;
  --text-color: #0a1a2f; 
  --title-text: #ffffff;
  --background-color: #caf0f8;
  --select-bg: #90e0ef;
  --error-color: #e63946;    
  --input-bg: #ffffff;
  --input-border: rgba(0, 0, 0, 0.15);
  --pill-bg: #e5e7eb;
  --pill-text: #111827;
  --muted-text: #4b5563;
  --accent-color: #38bdf8;
}

.dark {
  --background-color: #020617;
  --secondary-color: #01a8ef;
  --text-color: #e2e8f0;
  --title-text: #ffffff;
  --select-bg: #020f2a;
  --primary-color: #38bdf8;
  --error-color: #e63946;
  --input-bg: #020617;
  --input-border: #1e293b;
  --pill-bg: #e5e7eb;
  --pill-text: #111827;
  --muted-text: #9ca3af;
  --accent-color: #38bdf8;
}


body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: v.$background;
  color: v.$text;
  transition: background 0.3s, color 0.3s;
}
