input,
select {
  width: 100%;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;

  border-radius: 6px;

  background-color: var(--input-bg);
  color: var(--text-color);

  border: 1px solid var(--accent-color);

  outline: none;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease,
    color 0.2s ease;

  &:hover {
    border-color: var(--primary-color);
  }

  &:focus {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.35);
  }
}

select {
  cursor: pointer;
}
