*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  max-height: 100%;
  max-width: 100% !important ;
}

button {
  font-family: inherit;
}

footer {
  margin-top: auto;
}


page-shell {
  flex: 1;
}