@use '../../styles/variables' as v;

.locale-select {
  display: flex;
  flex-direction: column;
  margin-top: v.$spacing-md;
  gap: v.$spacing-sm;

  label {
    font-size: v.$font-md;
    color: v.$text;
  }

  select {
    padding: v.$spacing-sm;
    font-size: v.$font-md;
    border: 2px solid v.$primary;
    border-radius: v.$radius-md;
    min-width: 160px;
    color: v.$text;
    background-color: v.$select-bg;
  }
}

.dark .locale-select {
  label,
  select {
    color: v.$dark-text;
  }

  select {
    background-color: v.$dark-select-bg;
    border-color: #444;
  }
}
